<h1 class="Home-title"> The Todo Manager </h1>

<h2 class="Home-message">You have to be signed-in to start managing your todos</h2>

<h3 class="Home-authenticate">
  New user ?
  <%= link_to "sign-up here", new_user_path%>
</h3>

<h3 class="Home-authenticate">
  Already have an account,
  <%= link_to "sign-in here", new_sessions_path%>
</h3>